@media screen and (max-width: 600px) {
    .content-heightdiv {
        margin-top: 244px;
        margin-bottom: 38px;
    }
}
@media screen and (min-width: 878px) {
    .content-heightdiv {
        margin-top: 54px;
        margin-bottom: 38px;
    }
}
.custom-chart-transition{
	border:1px solid #e8e8e8;
	min-height:452px;
}
.custom-chart-transition:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.config-boxshow:hover{
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
